<ion-view view-title="Browse">
  <ion-content>
	  <div class="text-center" id="greeting">
		  <h1>Welcome to {AppName}</h1>
	  </div>
	  <div class="card-container" ng-controller="Cards">
		  <div ng-repeat="listing in listings">
		  <a class=card-link href="#/app/playlists">
		  <div class="list card responsive-card">
			  <!--Make this card ng-repeat for a controller array and link to a specific description/funding page-->
			  <div class="item item-avatar">
				  <img src={{listing.avatar}}>
			      <h2>{{listing.name}}</h2>
			      <p>{{listing.dateAdded | date}}</p>
			  </div>

			  <div class="item item-body">
				  <img class="full-image" src={{listing.image}}>
			      <p>{{ listing.details }}</p>
			  </div>
			  <div class="item item-divider">
				  <p>Status: {{ listing.fundingStatus }}% funded</p>
			  </div>

		  </div>
	      </a>
		  </div>
	</div>
  </ion-content>
</ion-view>
