<ion-view view-title="Browse">
  <ion-content>
	  <div class="card-container" ng-controller="Cards">
		  <div ng-repeat="listing in listings">
			  <!--Make this card ng-repeat for a controller array and link to a specific description/funding page-->
			<div class="list card">

			    <div class="item item-avatar">
			      <img src={{listing.avatar}}>
			      <h2>{{listing.name}}</h2>
			      <p>{{listing.dateAdded | date}}</p>
			    </div>

			    <div class="item item-body">
			      <img class="full-image" src={{listing.image}}>
			      <p>{{ listing.details }}</p>
			  	</div>
			    <div class="item item-divider">
					<p>Status: {{ listing.fundingStatus }}% funded</p>
			    </div>

	  		</div>
		</div>
	</div>
  </ion-content>
</ion-view>
