<ion-view view-title="Success">
	<div id="thank-you" class="text-center" ng-controller="Listing">
  		<h1 class="text-center">Thank you!</h1>
  		<!-- <h3 class="text-center">your donation will be recieved shortly</h3> -->
		<div id="nextUp">
			<h2>What Happens Now?</h2>
			<p>The project you donated towards will recieve your money soon, and you will recieve photo/video proof shortly</p>
		</div>
		<div id="nextnextUp">
			<h2>Would you like to help someone else?</h2>
			<button class="button button-balanced">View More Projects</button>
		<!-- <img id="check" src="../img/check.png"> -->
	</div>
</ion-view>
